<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hciproject">

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.example.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HCIproject">
        <activity
            android:name=".SignupPage"
            android:exported="false" />
        <activity
            android:name=".SignupInfoPage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".UpdateExercisePage"
            android:exported="false"
            android:label="UpdateExercisePage"
            android:parentActivityName=".ExercisePage" />
        <activity
            android:name=".AddExercisePage"
            android:exported="false"
            android:label="AddExercisePage"
            android:parentActivityName=".ExercisePage" />
        <activity
            android:name=".UpdateFoodPage"
            android:exported="false"
            android:label="UpdateFoodPage"
            android:parentActivityName=".FoodPage" />
        <activity
            android:name=".TimerPage"
            android:exported="false"
            android:label="TimerPage" /> <!-- android:parentActivityName=".MainActivity" -->
        <activity
            android:name=".UserPage"
            android:exported="false"
            android:label="UserPage" /> <!-- android:parentActivityName=".MainActivity" -->
        <activity
            android:name=".AddFoodPage"
            android:exported="false"
            android:label="AddFoodPage"
            android:parentActivityName=".FoodPage" />
        <activity
            android:name=".ExercisePage"
            android:exported="false"
            android:label="ExercisePage" /> <!-- android:parentActivityName=".MainActivity" -->
        <activity
            android:name=".FoodPage"
            android:exported="false"
            android:label="FoodPage" /> <!-- android:parentActivityName=".MainActivity" -->
        <activity
            android:name=".DiaryPage"
            android:exported="false"
            android:label="DiaryPage" /> <!-- android:parentActivityName=".MainActivity" -->
        <activity
            android:name=".FitlifePage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>